/*
Current color palette:
Primary: #0c543e
Secondary: #1b5e39
Text: #FFFFFF
*/

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #1d1a18;
  color: #fff;
  margin: auto;

}

.info-container {
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
}

header {
  text-align: center;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 98%;
}

.secondary {
  background-color: #1b5e2f;
}
