/*
Current Color Palette:
#11221B - Main text bg
#0c5449 - Text bg
#19a993 - Accent
#7cac6c - Button accent
#e1c547 - Accent
#da81b0 - Accent (alerts?)
#f7fcd7 - Text accent
#201b08 - Text bg
*/

.main-container { height: 84.5vh; }

html {
  position: relative;
}

/* TODO: consider gradient for the background */
body {
  background-color: #11221B;
  color: #F7FCD7;
}

.info-container {
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
}

header {
  text-align: center;
}

footer {
  flex-shrink: 0;
}

.secondary {
  background-color: #0c5449;
}

.tertiary {
  background-color: #201b08;
}

/* This fills in the space btw header and footer */
.main-container {
  display: flex;
  flex-direction: column;
}

.main-container > div {
  flex-grow: 1;
}