/*
Current Color Palette:
#11221B - Main text bg
#0c5449 - Text bg
#19a993 - Accent
#7cac6c - Button accent
#e1c547 - Accent
#da81b0 - Accent (alerts?)
#f7fcd7 - Text accent
#201b08 - Text bg
*/


html {
  position: relative;
}

/* TODO: consider gradient for the background */

body {
  background-color: #1C1C1C;
}

.info-container {
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
}

header {
  text-align: center;
}

.secondary {
  background-color: #0c5449;
}

.tertiary {
  background-color: #201b08;
}

