html {
  position: relative;
  min-height: 100%;
}

/* TODO: consider gradient for the background */
body {
  background-color: #11221B;
  color: #F7FCD7;
  margin: auto;
}

.info-container {
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
}

header {
  text-align: center;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 98%;
}

.secondary {
  background-color: #0C5449;
}
