/* Overriding main body styles are dangerous...it will override ANY page's body styling (cross-page cached styling) */

body {
    background-color: #181b1d;
    color: #fff;
}

.info-container {
    background-color: #8e9192;
    width: 50%;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
}

header {
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}